.container_grid{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 1fr;
	padding-top: 3%;
}

.estilos_footer1 {
	@include flexbox(column,center,center);
	background-color: map-get($mapa-colores, negro);
    grid-column-start: 1 / 2;
}


.div-imagenfooter {
	width: 150px;
	border-radius: $pixeles;
}

.estilos_footer2 {
	grid-column-start: 2 / 3;
	@include flexbox(column,center,center);
	margin-bottom: 3%;
	
}

.estilos_footer3 {
	grid-column-start: 3 / 4;
	@include flexbox(column,center,center);
	a {
		text-decoration: none;
		color: slategrey;
		margin-bottom: 2%;
	}
}

.text {
	margin-top:($ancho-alto-50)-20;
}

.imagen_footer {
	border-radius: ($pixeles2)/10;
	background-color: map-get($mapa-colores , blanco );
	grid-column-start: 2 / 3;
}

hr{
	width: ($ancho-alto-50)-5;
	color: white;
}

.div-imagenfooter1 {
	display: flex;
	width:  ($pixeles/4)-5;
	height:  ($pixeles/4)-5;
	background-color: map-get($mapa-colores , blanco );
	border-radius: ($pixeles)-20;
}

.estilos_footer-botton {
	gap: ($pixeles/4);
}

.button-footer {
	width: ($pixeles/2);
	height: ($pixeles/2);
	box-sizing: border-box;
	border-radius:($pixeles)-20;
	box-shadow: ($pixeles/4)-5 solid map-get($mapa-colores , blanco );
	display: inline-block;
	border: 3px solid map-get($mapa-colores , negro );
	transition: all 1s, border .5s;
}
