.estilos_Footer {
	background-color: map-get($mapa-colores, negro);
}
.estilos_footer1 {
	font-size: map-get($fuentes , 15 );
	@include flexbox4(center);
	color:map-get($mapa-colores, negro);
}
.div-imagenfooter {
	display: flex;
	width:  ($pixeles/4)-5;
	height:  ($pixeles/4)-5;
	background-color: map-get($mapa-colores , blanco );
	border-radius: ($pixeles)-20;
}
.estilos_footer2 {
	@include flexbox2(column,center,flex-end,center);
	font-size: map-get($fuentes , 20 );
	margin-right: 1%;
	color: map-get($mapa-colores, negro);
}
.estilos_footer-botton {
	@include flexbox5(center,center,flex-end);
	gap: ($pixeles/4);
	padding-right: ($pixeles/4)-5;
}
.button-footer {
	width: ($pixeles/2);
	height: ($pixeles/2);
	box-sizing: border-box;
	border-radius:($pixeles)-20;
	box-shadow: ($pixeles/4)-5 solid map-get($mapa-colores , blanco );
	display: inline-block;
	border: 3px solid map-get($mapa-colores , negro );
	transition: all 1s, border .5s;
}