
h2 , strong{
    justify-content: center;
    align-items: center;
    display: flex;
   }

h4{
    padding-left: 18%;
    }
    
h5{
        padding-left: 42%;
    }

em{
       padding-left: 27%;
   }