* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.container-fluid {
	background-color: map-get($mapa-colores, negro);
}
header {
	background-color:  map-get($mapa-colores, negro);
}
.animate__animated.animate__shakeX {
	--animate-duration: 2s;
}
.animate__shakeX.animate__infinite {
	--animation-delay: 0.1s;
}
.logo1 {
	width: $medidalogo;
	height: $medidalogo;
	border-radius: $pixeles;
	border: 2px solid rgb(0, 0, 0);
	object-fit: cover;
	background-color:  map-get($mapa-colores, negro);
}


/*Section Nosotros Desktop(Seccion Nosotros)*/


.text_section1{
        background-color: map-get($mapa-colores, negro);
        @include flexbox(column,center,center);
        font-family: $fontfamily;
        font-size: $tamanio-fuente;
 

img{
        vertical-align: middle;
        border-style: none;
}

h1{
        text-decoration: underline;
        margin-bottom: 1%;
}

a{
        width: ($tamanio-rem)*9;
        text-align: center;
        color:  map-get($mapa-colores, blanco);
        font-family: $fontfamily;
        text-decoration: none;
        background-color: $color-fondoboton1;
        padding: 0.3rem;
        border-radius: 0.3rem;
        display: inline-block;
        transition: 0.5s;
        position: relative;
        top: 5%;
        left: 10%;
        transform: translateX(-50%);
        color: $color-texto;
}    
}

/*Section video Desktop (Seccion Video)*/
.section_video {
    display:flex;
    height: 35rem;
    width: $ancho-alto-100;
    box-sizing: border-box;
    
video{
    width: $ancho-alto-100;
    object-fit: cover;
}   
}

/*Section Productos Desktop (Seccion Productos)*/

.color {
	color: map-get($mapa-colores, blanco);
}
/*Carrusel Boostrap*/
.carousel {
	height: map-get($fuentes, 700 );
}
.carousel-inner {
	height: map-get($fuentes , 700 );
	background-color: map-get($mapa-colores, negro);
}
.item {
	height: map-get($fuentes , 700 );
}
.d-block {
	height:map-get($fuentes , 700 );
	margin-top: 3%;
	width: $ancho-alto-100;
	object-fit: contain;
}
.card-img-top {
	object-fit: cover;
}

