/*section1 header/nosotros index mobile*/
@media screen and (max-width: 576px) {
	 main{
		display: grid !important;
		grid-template-columns: 100% !important;
		grid-template-rows:  repeat(2, 1fr) !important;
	}

    
	.container_grid {
	   display: grid;
	   grid-template-columns: 100%;
	   grid-template-rows: repeat(3, 1fr);
	}

	.logo1 {
		width: $pixeles;
		height: $pixeles;
		margin: none;
	}
	.navbar {
		margin-right:  map-get($fuentes , 1rem );
	}
	.section1__link {
		display: inline-block;
	}
	.text_section1 {
		font-family: 'Poppins', sans-serif;
		color: rgb(53, 53, 53);
		font-size: map-get($fuentes , 0.7 );
		>h1 {
			text-decoration: underline;
		}
		>a {
			margin-left:($ancho-alto-50)-50;
		}
	}
	.section1_imagemobile {
		object-fit: cover;
		width:($ancho-alto-100)-30;
	}

/*Section2 video Index mobile (Seccion Video)*/    
	.section_video {
		display: flex;
		height: $ancho-alto-100;
		width: $ancho-alto-100;
	}
	video {
		width: $ancho-alto-100;
		object-fit: cover;
	}
	
/*Section5 Footer Index Mobile (Seccion Footer)*/	
	.estilos_footer {
		background-color:map-get($mapa-colores , negro );
	}
	.estilos_footer1 {
		@include flexbox4(center);
		color: map-get($mapa-colores , blanco );
	}

	.estilos_footer3 {
		font-size: map-get($fuentes, 12);
	
	}

	.div-imagenfooter {
		width: ($pixeles/10);
		height: ($pixeles/10);
		background-color:  map-get($mapa-colores , blanco );
		border-radius: ($pixeles)-20;
	}

	.estilos_footer2{
		font-size: map-get($fuentes, 10);
		>p {
			font-size: map-get($fuentes , 12)
		}
	}
 
	.estilos_footer-botton {
		@include flexbox6(center,center,center);
		font-size: map-get($fuentes, 10);
	}

	.button-footer {
		width: ($pixeles)/2;
		height:($pixeles)/2;
		border: 3px solid rgb(0, 0, 0);
	}

	.imagen_footer {
		align-items: center;
		width: ($pixeles2)/2;
		height:($pixeles2)/2;
		object-fit: cover;
		margin-bottom: 8%;
	}
    

    /*MOBILE NOSOTROS*/
	.contenedor_we {
		display: inline;
	}
}

    

/*---------------------------------------------------------------------------RESPONSIVE CON 768PX INICIO------------------------------------------------------------------------------------*/

@media screen and (max-width: 768px) {
	.container_grid {
		display: grid;
		grid-template-columns: 100%;
		grid-template-rows: repeat(3, 1fr);
	 }

	 main{
		display: grid !important;
		grid-template-columns: 100% !important;
		grid-template-rows:  repeat(2, 1fr) !important;
	}

	.caja2{
		>iframe {
			width: 50% !important;
			margin-left: 25%;
		
		}
	}

	.logo1 {
		width: $pixeles;
		height: $pixeles;
	}

	.navbar {
		margin-right: map-get($fuentes , 1rem );
	}

	.section1__link {
		display: inline-block;
	}

	.text_section1 {
		font-family: 'Poppins', sans-serif;
		color: rgb(53, 53, 53);
		font-size: 12px;
		display: inline;
		margin-bottom: ($tamanio-rem)*5;
		>a {
			margin-left:($ancho-alto-100/2)-5;
		}
	}

	.section1_imagemobile {
		img {
			width: $ancho-alto-100;
			margin-top: ($ancho-alto-100/2);
		}
	}


	.estilos_footer1 {
		font-size: map-get($fuentes , 15 );
		@include flexbox4(center);
		color: map-get($mapa-colores , blanco );
	}

	.div-imagenfooter {
		width: ($pixeles/4)-5;
		height: ($pixeles/4)-5;
		background-color:  map-get($mapa-colores , blanco );
		border-radius: ($pixeles)-20;
	}
	
	.estilos_footer-botton {
		@include flexbox6(center,center,center);
	}

	.button-footer {
		width: ($pixeles)/2;
		height:($pixeles)/2;
		border: 3px solid rgb(0, 0, 0);
	}

	.imagen_footer {
		align-items: center;
		width: ($pixeles2)/2;
		height:($pixeles2)/2;
		object-fit: cover;
		margin-bottom: 8%;
	}

	.ustext1 {
		margin-right: ($tamanio-rem)*10;
	}

	.button-product1 {
		margin-right: ($ancho-alto-100/10);
	}
}
/*---------------------------------------------------------------------------RESPONSIVE CON 992PX INICIO------------------------------------------------------------------------------------*/

@media screen and (max-width: 992px) {

	.container_grid {
		display: grid;
		grid-template-columns: 100%;
		grid-template-rows: repeat(3, 1fr);
	 }

	 main{
		display: grid !important;
		grid-template-columns: 100% !important;
		grid-template-rows:  repeat(2, 1fr) !important;
	}

	.caja2{
		>iframe {
			width: 50% !important;
			margin-left: 25%;
		
		}
	}
	.logo1 {
		margin-left:  map-get($fuentes , 1rem );
		width: $pixeles;
		height: $pixeles;
	}
	
	.section1__link {
		display: inline-block;
	}

	.text_section1 {
		font-family: 'Poppins', sans-serif;
		color: rgb(53, 53, 53);
		font-size: 15px;
		display: inline;
		margin-bottom: ($tamanio-rem)*5;
		>a {
			margin-left: ($ancho-alto-100/2);
		}
	}

	.section1_imagemobile {
		width:  $ancho-alto-100;
		margin-top: ($ancho-alto-100/10)+5;
	}

	.estilos_footer {
		background-color: map-get($mapa-colores , negro );
	}

	.estilos_footer1 {
		font-size: map-get($fuentes , 15 );
		@include flexbox4(center);
		color:  map-get($mapa-colores , blanco );
	}

	.div-imagenfooter {
		width: ($pixeles/4)-5;
		height:($pixeles/4)-5;
		background-color:  map-get($mapa-colores , blanco );
		border-radius: ($pixeles)-20;
	}

	.estilos_footer2 {
		font-size:map-get($fuentes , 15 );
	}

	.estilos_footer-botton {
		@include flexbox6(center,center,center);
	}

	.button-footer {
		width: ($pixeles)/2;
		height:($pixeles)/2;
		border: 3px solid rgb(0, 0, 0);
	}

	.imagen_footer {
		align-items: center;
		width: ($pixeles2)/2;
		height:($pixeles2)/2;
		object-fit: cover;
		margin-bottom: 8%;

	}
}
/*---------------------------------------------------------------------------RESPONSIVE CON 1200PX INICIO------------------------------------------------------------------------------------*/
@media screen and (max-width: 1200px) {
	
	.logo1 {
		margin-left: map-get($fuentes , 1rem );
		width: 150px;
		height: 150px;
	}

	.section1__link {
		display: inline-block;
	}

	.text_section1 {
		font-family: 'Poppins', sans-serif;
		color: rgb(53, 53, 53);
		font-size:  map-get($fuentes , 0.7 );
		display: inline;
		margin-bottom: ($tamanio-rem)*5;
		>a {
			margin-left: ($ancho-alto-50)-15;
		}
	}

	.section1_imagemobile {
		width: $ancho-alto-100;
		margin-top: ($ancho-alto-50/10);
	}

	.estilos_footer1 {
		font-size: map-get($fuentes , 15 );
		@include flexbox4(center);
		color:  map-get($mapa-colores , blanco );
	}

	.div-imagenfooter {
		width: ($pixeles/4)-5;
		height:  ($pixeles/4)-5;
		background-color: map-get($mapa-colores , blanco );
		border-radius: ($pixeles)-20;
	}


	.estilos_footer-botton {
		@include flexbox6(center,center,center);
	}

	.button-footer {
		width: ($pixeles)/2;
		height:($pixeles)/2;
		border: 3px solid rgb(0, 0, 0);
	}

	.imagen_footer {
		align-items: center;
		width: ($pixeles2)/2;
		height:($pixeles2)/2;
		object-fit: cover;
		margin-bottom: 8%;
	}
}
/*---------------------------------------------------------------------------RESPONSIVE CON 1500PX INICIO------------------------------------------------------------------------------------*/
@media screen and (max-width: 1500px) {
	.logo1 {
		margin-left:map-get($fuentes , 1rem );
		width: 150px;
		height: 150px;
	}

	.section1__link {
		display: inline-block;
	}

	.text_section1 {
		font-family: 'Poppins', sans-serif;
		color: rgb(53, 53, 53);
		font-size: map-get($fuentes , 0.7 );
		display: inline;
		margin-bottom: ($tamanio-rem)*5;
		>a {
			margin-left:($ancho-alto-50)-15;
		}
	}

	.section1_imagemobile {
		width: $ancho-alto-100;
		margin-top: ($ancho-alto-50/10);
	}

	.estilos_footer1 {
		font-size:  map-get($fuentes , 15 );
		@include flexbox4(center);
		color: map-get($mapa-colores , blanco );
	}

	.div-imagenfooter {
		width: ($pixeles/4)-5;
		height:  ($pixeles/4)-5;
		background-color:  map-get($mapa-colores , blanco );
		border-radius: ($pixeles)-20;
	}

	.estilos_footer-botton {
		@include flexbox6(center,center,center);
	}
	
	.button-footer {
		width: ($pixeles)/2;
		height:($pixeles)/2;
		border: 3px solid rgb(0, 0, 0);
	}

	.imagen_footer {
		align-items: center;
		width: ($pixeles2)/2;
		height:($pixeles2)/2;
		object-fit: cover;
		margin-bottom: 8%;
	
	}
}

		/*grid-template-areas: "formulario"
		                      "mapa";	
	}

	.contfm{
		grid-area: formulario;
	}

	.map{
		@include flexbox6(center,center,center);
		grid-area: mapa;
	}*/

			/*grid-template-areas: "formulario"
		                      "mapa";
		padding: 25px;
	}

	.contfm{
		grid-area: formulario;
	}

	.map{
		@include flexbox6(center,center,center);
		grid-area: mapa;
	}*/