/*VARIABLES*/
/*Variables de colores*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container-fluid {
  background-color: #000;
}

header {
  background-color: #000;
}

.animate__animated.animate__shakeX {
  --animate-duration: 2s;
}

.animate__shakeX.animate__infinite {
  --animation-delay: 0.1s;
}

.logo1 {
  width: 150px;
  height: 150px;
  border-radius: 100px;
  border: 2px solid black;
  -o-object-fit: cover;
     object-fit: cover;
  background-color: #000;
  margin: none;
}

/*Section Nosotros Desktop(Seccion Nosotros)*/
.text_section1 {
  background-color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Poppins", sans-serif;
  font-size: 0.8rem;
}

.text_section1 img {
  vertical-align: middle;
  border-style: none;
}

.text_section1 h1 {
  text-decoration: underline;
  margin-bottom: 1%;
}

.text_section1 a {
  width: 9rem;
  text-align: center;
  color: white;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  background-color: #b39975;
  padding: 0.3rem;
  border-radius: 0.3rem;
  display: inline-block;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: relative;
  top: 5%;
  left: 10%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: #ffffffff;
}

/*Section video Desktop (Seccion Video)*/
.section_video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 35rem;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.section_video video {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/*Section Productos Desktop (Seccion Productos)*/
.color {
  color: white;
}

/*Carrusel Boostrap*/
.carousel {
  height: 700px;
}

.carousel-inner {
  height: 700px;
  background-color: #000;
}

.item {
  height: 700px;
}

.d-block {
  height: 700px;
  margin-top: 3%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.card-img-top {
  -o-object-fit: cover;
     object-fit: cover;
}

.section_inicioproductos {
  margin: 7% 1.3rem 5% 1.3rem;
}

.incio_productos-texto {
  font-family: 'Poppins', sans-serif;
  margin: 0% 20%;
  text-align: center;
}

.inicio_productos-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  row-gap: 100px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 5%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.inicio_productos-img h3 {
  text-align: center;
}

.inicio_productos-img img {
  height: 350px;
  width: 100%;
  border-radius: 10%;
  background-color: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.23));
          filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.23));
}

.inicio_productos-img img:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

.button-contact {
  padding-top: 10px;
}

.button-product1 {
  background-color: #000;
  padding-top: 10px;
  border: none;
}

.button-product1 a {
  width: 15rem;
  font-family: 'Poppins', sans-serif;
  background-color: #b39975;
  padding: 0.3rem;
  border-radius: 0.3rem;
  display: inline-block;
  color: #000;
  text-decoration: none;
  font-size: 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

h2, strong {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

h3 {
  padding-top: 8%;
}

.container_grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  padding-top: 3%;
}

.estilos_footer1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #000;
  grid-column-start: 1 / 2;
}

.div-imagenfooter {
  width: 150px;
  border-radius: 100px;
}

.estilos_footer2 {
  grid-column-start: 2 / 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 3%;
}

.estilos_footer3 {
  grid-column-start: 3 / 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.estilos_footer3 a {
  text-decoration: none;
  color: slategrey;
  margin-bottom: 2%;
}

.text {
  margin-top: 30%;
}

.imagen_footer {
  border-radius: 5px;
  background-color: white;
  grid-column-start: 2 / 3;
}

hr {
  width: 45%;
  color: white;
}

.div-imagenfooter1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 80px;
}

.estilos_footer-botton {
  gap: 25px;
}

.button-footer {
  width: 50px;
  height: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 80px;
  -webkit-box-shadow: 20px solid white;
          box-shadow: 20px solid white;
  display: inline-block;
  border: 3px solid #000;
  -webkit-transition: all 1s, border .5s;
  transition: all 1s, border .5s;
}

/*section1 header/nosotros index mobile*/
@media screen and (max-width: 576px) {
  .container_grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
  }
  .logo1 {
    width: 100px;
    height: 100px;
    margin: none;
  }
  .navbar {
    margin-right: 1rem;
  }
  .section1__link {
    display: inline-block;
  }
  .text_section1 {
    font-family: 'Poppins', sans-serif;
    color: #353535;
  }
  .text_section1 > h1 {
    text-decoration: underline;
  }
  .text_section1 > a {
    margin-left: 0%;
  }
  .section1_imagemobile {
    -o-object-fit: cover;
       object-fit: cover;
    width: 70%;
  }
  /*Section2 video Index mobile (Seccion Video)*/
  .section_video {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    width: 100%;
  }
  video {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  /*Section5 Footer Index Mobile (Seccion Footer)*/
  .estilos_footer {
    background-color: #000;
  }
  .estilos_footer1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    color: white;
  }
  .estilos_footer3 {
    font-size: 12px;
  }
  .div-imagenfooter {
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 80px;
  }
  .estilos_footer2 {
    font-size: 10px;
  }
  .estilos_footer2 > p {
    font-size: 12px;
  }
  .estilos_footer-botton {
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 10px;
  }
  .button-footer {
    width: 50px;
    height: 50px;
    border: 3px solid black;
  }
  .imagen_footer {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 25px;
    height: 25px;
    -o-object-fit: cover;
       object-fit: cover;
    margin-bottom: 8%;
  }
  /*MOBILE NOSOTROS*/
  .contenedor_we {
    display: inline;
  }
}

/*---------------------------------------------------------------------------RESPONSIVE CON 768PX INICIO------------------------------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  .container_grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
  }
  .logo1 {
    width: 100px;
    height: 100px;
  }
  .navbar {
    margin-right: 1rem;
  }
  .section1__link {
    display: inline-block;
  }
  .text_section1 {
    font-family: 'Poppins', sans-serif;
    color: #353535;
    display: inline;
    margin-bottom: 5rem;
  }
  .text_section1 > a {
    margin-left: 45%;
  }
  .section1_imagemobile img {
    width: 100%;
    margin-top: 50%;
  }
  .estilos_footer1 {
    font-size: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    color: white;
  }
  .div-imagenfooter {
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 80px;
  }
  .estilos_footer-botton {
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .button-footer {
    width: 50px;
    height: 50px;
    border: 3px solid black;
  }
  .imagen_footer {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 25px;
    height: 25px;
    -o-object-fit: cover;
       object-fit: cover;
    margin-bottom: 8%;
  }
  .ustext1 {
    margin-right: 10rem;
  }
  .button-product1 {
    margin-right: 10%;
  }
}

/*---------------------------------------------------------------------------RESPONSIVE CON 992PX INICIO------------------------------------------------------------------------------------*/
@media screen and (max-width: 992px) {
  .logo1 {
    margin-left: 1rem;
    width: 100px;
    height: 100px;
  }
  .section1__link {
    display: inline-block;
  }
  .text_section1 {
    font-family: 'Poppins', sans-serif;
    color: #353535;
    display: inline;
    margin-bottom: 5rem;
  }
  .text_section1 > a {
    margin-left: 50%;
  }
  .section1_imagemobile {
    width: 100%;
    margin-top: 15%;
  }
  .estilos_footer {
    background-color: #000;
  }
  .estilos_footer1 {
    font-size: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    color: white;
  }
  .div-imagenfooter {
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 80px;
  }
  .estilos_footer2 {
    font-size: 15px;
  }
  .estilos_footer-botton {
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .button-footer {
    width: 50px;
    height: 50px;
    border: 3px solid black;
  }
  .imagen_footer {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 25px;
    height: 25px;
    -o-object-fit: cover;
       object-fit: cover;
    margin-bottom: 8%;
  }
}

/*---------------------------------------------------------------------------RESPONSIVE CON 1200PX INICIO------------------------------------------------------------------------------------*/
@media screen and (max-width: 1200px) {
  .logo1 {
    margin-left: 1rem;
    width: 150px;
    height: 150px;
  }
  .section1__link {
    display: inline-block;
  }
  .text_section1 {
    font-family: 'Poppins', sans-serif;
    color: #353535;
    display: inline;
    margin-bottom: 5rem;
  }
  .text_section1 > a {
    margin-left: 35%;
  }
  .section1_imagemobile {
    width: 100%;
    margin-top: 5%;
  }
  .estilos_footer1 {
    font-size: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    color: white;
  }
  .div-imagenfooter {
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 80px;
  }
  .estilos_footer-botton {
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .button-footer {
    width: 50px;
    height: 50px;
    border: 3px solid black;
  }
  .imagen_footer {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 25px;
    height: 25px;
    -o-object-fit: cover;
       object-fit: cover;
    margin-bottom: 8%;
  }
}

/*---------------------------------------------------------------------------RESPONSIVE CON 1500PX INICIO------------------------------------------------------------------------------------*/
@media screen and (max-width: 1500px) {
  .logo1 {
    margin-left: 1rem;
    width: 150px;
    height: 150px;
  }
  .section1__link {
    display: inline-block;
  }
  .text_section1 {
    font-family: 'Poppins', sans-serif;
    color: #353535;
    display: inline;
    margin-bottom: 5rem;
  }
  .text_section1 > a {
    margin-left: 35%;
  }
  .section1_imagemobile {
    width: 100%;
    margin-top: 5%;
  }
  .estilos_footer1 {
    font-size: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    color: white;
  }
  .div-imagenfooter {
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 80px;
  }
  .estilos_footer-botton {
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .button-footer {
    width: 50px;
    height: 50px;
    border: 3px solid black;
  }
  .imagen_footer {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 25px;
    height: 25px;
    -o-object-fit: cover;
       object-fit: cover;
    margin-bottom: 8%;
  }
}
/*# sourceMappingURL=estilos.css.map */